.btn{
    display: flex;
    gap: .5em;
    justify-content: center;
}

.btn > a {
    padding: .4em .8em;
    border: none;
    border-radius: 8px;
    background-color: rgb(241, 43, 43);
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}
.smallText{
    color: rgb(149, 147, 147);
    text-align: center;
}